.navegar{
    width: 100%;
    min-height: 14vh;
    display: flex;
    align-items: center;
    background-color:#fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    box-sizing: border-box;

}

/* @media screen and (min-width: 768px) {
    .navegar{
        height: 13vh;
    }
    
}
@media screen and (min-width: 1024px){

    .navegar {
     height: 13vh;
        
    }
} */