.navegar__logo{
    width: 50vw;  

}

@media screen and (min-width: 768px) {
    .navegar__logo{
    position: relative;
    left: 1rem;
    top: 0.1rem;
    }

}
@media screen and (min-width: 1024px){

    .navegar__logo {
    
       top: -0.20rem; 
    }
   
}