.navegar__logo{
    
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .navegar__logo{
        padding-left: 2rem;
    }

}
@media screen and (min-width: 1024px){

    .navegar__logo {
    
    padding-left: 4rem;
    }
   
}