.productos__producto{

padding: 2rem;
display: flex;
flex-direction: column;
align-items: flex-start;

}
.productos__producto a{
    text-decoration: none;
    color: #2A7AE4;
}

.productos__producto:nth-child(5), .productos__producto:nth-child(6) {
    display: none;
}

@media screen and (min-width: 1024px){

    .productos__producto:nth-child(6) {
        
        display: flex;
    }

}

/*Modificacion de imagenes*/
.producto__imagen{
    margin-bottom:1em;
}