.productos__producto{
    margin: 1rem 0;
padding: 2rem;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
}
.productos__producto a{
    text-decoration: none;
}

.productos__producto:nth-child(5), .productos__producto:nth-child(6) {
    display: none;
}

@media screen and (min-width: 1024px){

    .productos__producto:nth-child(6) {
        
        display: flex;
    }

}